.page-app {
  padding-top: 100px;
  margin-bottom: 100px;
}
.page-app_title {
  @include h2;
  text-align: center;
  margin-bottom: 50px;
}
.page-app_wrapper {
  display: flex;
  flex-direction:row;
  gap: 140px;
  
  @media (max-width:992px) {
    flex-direction: column-reverse;
    align-items: center;
  }

  & img {
    max-width: 333px;
    max-height: 280px;
  }
}
.page-app_item {
  max-width: 600px;

  & p {
    @include text-1;
  }
}
.app_btn {
  margin-top: 16px;
  display: inline-block;
  background-color: $red;
  border: none;
  border-radius: 32px;
  padding: 16px 40px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 12.8px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  transition: 0.2s;
  
  &:hover {
    transform: scale(1.1);
    background-color: $orange;
  }
}
