.page-description {
  background-image: url(/music-box/images/banner.png);
  padding-top: 200px;
  padding-bottom: 200px;
}
.poge-description_title-wrapper {
  text-align: center;
  & h1 {
    @include h1;

    @media (max-width:576px) {
      @include h1-mobile;
    }
  }

  & h2 {
    @include h2;
    margin-bottom: 31px;

    @media (max-width:576px) {
      @include h2-mobile;
    }

  }

  & p {
    @include text-1;
    margin-bottom: 17px;
  }
}
.page-description_input-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  
  @media (max-width:768px) {
    flex-direction: column;
    gap: unset;
  }

  & input {
    min-width: 270px;
    min-height: 50px;
    padding-left: 20px;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 3px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;

    &::placeholder {
      color: rgb(255, 255, 255);
      font-family: Roboto;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0%;
      text-align: left;
    }

  }

}

.page-description_button {
  
  & .btn {
    margin: 0 auto;
    display: block;
    width: 505px;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    background-color: $green;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 13.3px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;

    @media (max-width:768px) {
      width: 210px;
    }

    &:hover {
      transform: scale(1.1);
      background-color: white;
      color: black;
    }
  }
}
