.page-similar {
  padding: 100px 0;
}
.similar-title {
  @include h2;
  margin-bottom: 50px;
}
.similar-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
}
.similar-item {

  &:hover {
    cursor: pointer;
  }

  & img {
    height: 250px;
    width: 250px;
    margin-bottom: 10px;
  }
}
.similar-info {
 text-align: center;
  & h3 {
    @include h4;
  }
  & p {
    @include text-1;
    color: $grey;
  }
}
