.page-discography {
  padding-top: 100px;
}
.discography-title {
  @include h2;
  margin-bottom: 50px;
}
.discography-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
}
.discography-item {
  transition: 0.2s;
  &:hover {
    background-color:gray;
    cursor: pointer;
  }

  & img {
    height: 250px;
    width: 250px;
    margin-bottom: 10px;
  }
}
.discography-info {
  padding-left: 10px;

  & h3 {
    @include h4;
  }

  & p {
    @include text-1;
    color: $grey;
  }
}
