.page-pop-tracks {
  padding-top: 100px;
}
.pop-tracks-wrapper {

  & h2 {
    @include h2;
    margin-bottom: 50px;
  }
}
.pop-tracks-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px 50px;

  @media (max-width:576px) {
    grid-template-columns: 1fr;
  }

}
.popular-track {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.2s;
  padding-right: 10px;

  & img {
    width: 55px;
    height: 55px;
  }

  & p {
    @include text-small;
    margin-left: auto;
  }

  &:hover {
    background-color: gray;
    cursor: pointer;
  }
}
.track-info {
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: space-between;
  align-items: center;
}
.track-title {

  margin-left: 15px;

  & h4 {
    @include pop-track;
  }

  & p {
    @include text-small;
  }
}
