.cognitive-biases-2 {
  background-color:$brown;
  &::before {
    content: " ";
    position: absolute;
    background-image: url(/img/background.png);
    height: 100%;
    width: 100%;
    opacity: 0.1;
  }
}
.cognitive-biases-main-wrapper-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 50px;

  @media (max-width:996px) {
    display: flex;
    flex-direction: column;
  }
}
.cognitive-biases-main-img-2 {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 35%));
  position: relative;
  z-index: 2;
  & img {
    width: 100%;
    height: 100%;
  }
}
.cognitive-biases-main-text-2 {
  text-align: left;
  & h4 {
    color: rgb(215, 204, 192);
  }

  & h2 {
    margin-bottom: 30px;
    color: white;
  }

  & h3 {
    color: white;
  }
}
.cognitive-biases-horizontal-line-2 {
  background-color: white;
  text-align: left;
  padding: 10px 10px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  & p {
    font-weight: bold;
    color: $brown;
    text-transform: uppercase;
  }
}
.cognitive-biases-exposition-2 {
  display: flex;
  text-align: left;
  gap: 30px;

  & p {
    width: 540px;
    color: white;
  }
}


