.main {
  background-color: $darkgrey;
}
.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap:20px 30px;

  @media (max-width:1200px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  @media (max-width:800px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.main-title {
  text-align: left;
  & h2 {
    color: white;
    font-family: Neucha;
    font-size: 52px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
  }
}

.main-item {
  background-color: $light;
  padding: 24px 24px;
  text-align: left;
  transition: 0.2s;

  & a {
    text-decoration: none;
  }

  & h2 {
    margin-bottom: 40px;
  }

  & h3 {
    margin-bottom: 16px;
    color: $orange;
  }

  &:hover {
    color: white;
    background-color:$orange;
    transform: scaleX(1.1);
  }

  &:hover h2 {
    color: white;
  }
  &:hover p {
    color: white;
  }
  &:hover h3 {
    color: white;
  }
}
